.why-us {
	padding: var(--spacer-5) 0 var(--spacer-8);
	background-color: #f8f8f8;
	.icons-box {
		.icon {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			margin: var(--spacer-5) auto;

			svg {
				margin-bottom: var(--spacer-1);
				font-size: var(--fz-8);
				transition: 0.3s;
				&:hover {
					transform: scale(1.2);
				}
			}

			p {
				font-size: var(--fz-2);
				text-align: center;
				max-width: 23rem;
			}
		}

		@media (min-width: 50rem) {
			display: flex;
			align-items: start;
		}
	}

	.box {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: var(--clr-header);
		padding: 3em;

		.decoration {
			position: absolute;
			height: auto;
		}

		.d1 {
			bottom: 5%;
			left: -5%;
			width: 25%;
		}

		.d2 {
			right: -5%;
			top: -5%;
		}

		h3 {
			font-size: var(--fz-5);
			margin: var(--spacer-1) 0 var(--spacer-3);
			text-align: center;
			font-weight: 900;
			max-width: 35rem;
		}
		svg {
			color: rgb(189, 93, 15);
			font-size: 4rem;
		}
		img {
			width: 50%;
		}

		@media (min-width: 25rem) {
			img {
				width: 30%;
				max-width: 7rem;
			}

			h3 {
				margin: var(--spacer-1) 0 var(--spacer-2);
			}

			.decoration {
				max-width: 12rem;
			}
		}
	}
}
