.latest {
	background-color: var(--clr-section-blue);
	padding: var(--spacer-7) 0 var(--spacer-8);
	position: relative;
	overflow: visible;

	.decoration {
		position: absolute;
		height: auto;
	}

	.d2 {
		top: -2%;
		width: 15%;
		right: 0;

		@media (min-width: 60rem) {
			top: -5%;
			max-width: 10rem;
		}
	}

	.d1 {
		width: 18%;
		top: 0%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 2%;
		max-width: 1rem;
	}

	.btn {
		display: flex;
		justify-content: center;
		margin-bottom: var(--spacer-5);
	}
}
