.box {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	border: var(--clr-header) 8px solid;
	gap: var(--spacer-3);
	padding: var(--spacer-5) var(--spacer-3);
	margin-top: var(--spacer-8);

	@media (min-width: 40rem) {
		grid-template-columns: 1fr 1fr;
		padding: var(--spacer-6) var(--spacer-5);
	}
	@media (min-width: 60rem) {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.item {
		border-bottom: var(--clr-header) 8px solid;
		font-weight: 700;
		padding: var(--spacer-2) 0;
	}

	img {
		position: absolute;
		top: -2%;
		left: -10%;
		height: auto;
		width: 25%;
		max-width: 10rem;

		@media (min-width: 40rem) {
			top: -5%;
			left: -6%;
		}
	}
}
