.welcome {
	position: relative;
	text-align: center;
	z-index: 1;
	background-color: var(--clr-header);
	padding: var(--spacer-7) 0;
	.heading {
		font-size: var(--fz-8);
		font-weight: 900;
		letter-spacing: 0.05em;
		max-width: 30rem;
		margin: var(--spacer-2) auto;
		line-height: 1em;

		@media (min-width: 80rem) {
			font-size: 5rem;
			max-width: 50rem;
		}
	}

	.subheading {
		font-weight: 400;
		font-size: var(--fz-3);
		margin-bottom: var(--spacer-2);
	}

	.header-text {
		font-weight: 100;
		font-size: var(--fz-1);
		margin: var(--spacer-2) 0;
	}

	svg {
		color: #ffc0cb;
		transform: translateY(20%);
	}

	.welcome1 {
		position: absolute;
		width: fit-content;
		top: 0;
		left: -5%;
		height: 40%;
		z-index: -1;
		@media (min-width: 40rem) {
			left: 0%;
			height: 50%;
		}
		@media (min-width: 60rem) {
			height: 60%;
		}
		@media (min-width: 60rem) {
			height: 80%;
		}
	}

	.welcome2 {
		position: absolute;
		width: fit-content;
		height: 30%;
		right: -5%;
		top: 60%;
		z-index: -1;

		@media (min-width: 40rem) {
			right: 0%;
			height: 50%;
			top: 40%;
		}
		@media (min-width: 60rem) {
			height: 60%;
			top: 30%;
		}
		@media (min-width: 60rem) {
			height: 80%;
			top: 20%;
		}
	}
}
