.never {
	background-color: var(--clr-section-blue);
	padding: var(--spacer-7) 0 var(--spacer-8);
	position: relative;
	overflow: visible;

	@media (min-width: 80rem) {
		padding: var(--spacer-7) 0 9em;
	}

	.decoration {
		position: absolute;
		z-index: 100;
	}

	.d1 {
		top: 0%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: auto;
		height: 8%;

		@media (min-width: 50rem) {
			height: 10%;
		}
		@media (min-width: 70rem) {
			height: 15%;
		}
	}

	.d2 {
		width: auto;
		height: 12%;
		top: -5%;
		left: 0;
		@media (min-width: 50rem) {
			height: 20%;
			top: -10%;
		}
		@media (min-width: 70rem) {
			height: 35%;
			top: -10%;
		}
	}

	.d3 {
		width: auto;
		height: 8%;
		top: -5%;
		right: 0;
		@media (min-width: 50rem) {
			height: 20%;
			top: -10%;
		}
		@media (min-width: 70rem) {
			height: 40%;
			top: -10%;
		}
	}

	.info {
		display: flex;
		flex-direction: column;
		gap: var(--spacer-4);

		@media (min-width: 60rem) {
			flex-direction: row;
			gap: var(--spacer-7);
		}

		.question {
			font-size: var(--fz-3);
			font-weight: 700;
		}

		.answer {
			margin: var(--spacer-2) 0 var(--spacer-4);
		}
	}
}
