.slider {
	background-color: var(--clr-header);
	padding-bottom: 5em;
	padding-top: 2em;
	.images-container {
		display: flex;
		gap: var(--spacer-3);
		img {
			width: 20%;
			transition: transform 0.3s, box-shadow 0.3s;

			&:hover {
				box-shadow: 8px 8px 24px 5px rgba(66, 68, 90, 0.3);
				transform: scale(1.1);
			}
		}
	}
}
