.slider {
	background-color: #000;
	padding: var(--spacer-2) 0;

	.wrapper {
		width: 400%;
		display: flex;
		.images-container {
			display: flex;
			.brand {
				margin: 0 0.5em;
				@media (min-width: 60rem) {
					margin: 0 1em;
				}
			}
		}
	}
}
