.footer {
	padding: var(--spacer-7) 0;
	background-color: #080808;
	color: #fff;
	text-align: center;
	h2 {
		font-weight: 400;
		margin-top: var(--spacer-4);
	}

	.btn {
		border: 2px solid #fff;
		padding: var(--spacer-4) var(--spacer-8);
		width: 100%;
		max-width: 35rem;
		font-size: var(--fz-3);
		transition: color 0.7s, background-color 0.7s, box-shadow 0.7s, transform 0.7s;

		&:hover {
			box-shadow: 8px 8px 0 0 rgba(202, 199, 199, 0.144);
			background-color: #fff;
			color: #080808;
		}
	}
}
