.pricing {
	background-color: var(--clr-header);
	padding: var(--spacer-7) 0 var(--spacer-8);
	position: relative;
	overflow: visible;

	.img-header {
		width: fit-content;
		margin: var(--spacer-7) auto;
		img {
			max-width: 25rem;
		}
	}
}
