.burger {
	font-size: var(--fz-4);
	cursor: pointer;

	@media (min-width: 60rem) {
		display: none;
	}
}

.nav {
	position: absolute;
	height: 0;
	z-index: 10;
	overflow: hidden;
	top: 100%;
	left: 0;
	right: 0;
	transition: height 0.3s;
	font-weight: 900;
	font-size: var(--fz-05);
	letter-spacing: 0.05em;
	background-color: #fff;
	.container {
		width: calc(min(var(--max-width), 90vw));
		padding: var(--spacer-5) var(--spacer-3);
		margin: 0 auto;

		li {
			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}

			margin: var(--spacer-5) 0;
			a {
				transition: color 0.3s;

				&:hover {
					color: var(--clr-nav-hover);
				}
			}
		}
	}

	@media (min-width: 60rem) {
		height: auto !important;
		position: initial;
		background-color: initial;

		.container {
			width: fit-content;
			padding: 0;

			li {
				margin: 0;
			}
		}

		ul {
			display: flex;
			gap: var(--spacer-4);
		}
	}
}
