.footer {
	font-weight: 700;
	text-align: center;
	font-size: var(--fz-3);
	margin-top: var(--spacer-3);
	.images {
		display: grid;
		grid-template-columns: 1fr 1fr;
		place-items: center;
		margin-top: var(--spacer-3);
		@media (min-width: 70rem) {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
		img {
			width: 50%;
			height: auto;
			margin: var(--spacer-2) var(--spacer-1);
		}
	}
}
